table h2{
    margin-top: 20px;
    text-decoration: underline;
}

td {
    font-size: 18px;
    color: black;
}

td:nth-child(3n) {
    text-align: center;
}

td:nth-child(2n) {
    text-align:end;
}

.showRates {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rates {
    margin: 0 25px 80px 25px;
    border-spacing: 10px;
}

.progress{
    width: 180px;
    background-color:rgb(255, 255, 255);
    border-radius: 25px;
    height: 30px;
    position: relative;
}

table td span{
    font-size: 12px;
}

.headerCity{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 120px;
    margin: 0 0 50px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerCity img{
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(80%);
}

.imgShowCity{
    color:white;
    text-align: center;
    text-shadow: black 1px 1px;
}

.imgShowCity h1{
    font-size: 60px;
}

.overallscore{
    text-align: center;
    padding: 20px;
}

.costMessage {
    position: absolute;
    top: 3px;
    right: 10px;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.overallscore{
     margin-bottom: 30px;
     margin-top: -30px;
}


@media only screen and (max-width: 470px){

    .progress {
        width: 135px;
        font-size: 10px;
    }
}

