.card {
    width: 275px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
    color: white;
    text-shadow: black 1px 1px;
    font-size: 20px;
    position: relative;

    &:hover {
        .textElement{
            display: none;

        };

        .cardPicture {
            filter: brightness(30%);
        }

        .hoverCardInfo {
            margin-top: 7%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: white;
            height: 80%;
            font-size: 1rem;
            gap: 5px;
        }
        .categories {
            align-items: flex-end;
            text-align: start;

        }
    }
}


.likeCity {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 3;
}

.likeCity:hover i{
    cursor: pointer;
}

.card .cardPicture {
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
//
//.card:hover {
//    filter: blur(1px);
//    filter: brightness(80%);
//    transition: all 0.5s;
//}

.cardsFlex {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    height: 55px;
}

.cardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(320px - 50px - 50px);
    font-size: 50px;
}

.cardTextCountry {
    font-size: 25px;
}

.wifitext{
    margin-top: 6px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: fit-content;
}

.wifitext span p{
    font-size: 10px;
    font-weight: 900;
}
.wifitext span {
    margin-left: 10px;
}

.iconweather{
    vertical-align: center;
    width: 50px;
    margin-top: -5px;
    margin-left: -10px;
}

.tempeture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
.costMessage {
    display: inline-block;
}

.icon-heart{
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.icon-heart-full{
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.icon-heart:hover{
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}



