nav ul {
    display: flex;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav ul li {
    list-style: none;
    border: none;
    color: black;
    margin: 10px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
}

nav img {
    width: 50px;
    height: 50px;
}

.card a {
    text-decoration: none;
    color: white;
}
