@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
    --primary: #0AC710;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 2vw;
    font-family: 'Varela Round', sans-serif;
}