@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
    --primary: #0AC710;
    --primary-dark: #08830C;
    --success: #28A745;
    --info: #17A2B8;
    --warning: #FFC107;
    --danger: #d60a0d;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --rgba-gray-900: #212529cb;
    --black: #000;
    --rgba-black: rgba(0, 0, 0, 0.665);
    --white: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background-color: var(--gray-100);
}

@keyframes show {
    to{
        visibility: visible;
      }
}

.appmain{
    visibility: hidden;
    animation: show 0.9s ease forwards 3s;
}

.btn {
    height: 30px;
    min-width: 60px;
    background-color: none;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--gray-100);
}

.btn-primary:hover {
    background-color: var(--gray-100);
    color: var(--primary);
    border: solid;
    cursor: pointer;
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--gray-100);
    color: var(--primary);
    border: solid;
    border-color: var(--primary);
}

.btn-secondary:hover {
    background-color: var(--primary);
    color: var(--gray-100);
    cursor: pointer;
}

.btn-info {
    background-color: var(--info);
    color: var(--gray-100);
}

.btn-info:hover {
    background-color: var(--gray-100);
    color: var(--info);
    cursor: context-menu;
    border-color: #0abbd6;
    border: solid;
}

.btn-danger {
    background-color: var(--danger);
    color: var(--gray-100);
}

.btn-danger:hover {
    background-color: var(--gray-100);
    color: var(--danger);
    cursor: pointer;
    border-color: var(--danger);
    border: solid;
}