
.h2marge {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    text-align: center;

}


.more-cities-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2em;
    flex-wrap: wrap;
}